    <!-- Here is the footer with pagination -->
 <div xmlns:th="http://www.thymeleaf.org" class="footer-pagination-div" th:fragment="pagination" >
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav aria-label="Pagination">
            <th:block th:each="pageNumber : ${pageNumbers}">
            	<span>
            		<a class="page-link" th:href="@{/listexpense(page=${pageNumber})}" th:text=${pageNumber}>1</a>
			 	</span>
			 </th:block>
            </nav>
        </div>
        <div class="col-md-2"></div>
    </div>